.footer__container{
    background-color: #B1EAB8;
    font-family: Raleway;
    border-top: 1px solid #63D471;
}

.footer__organizer{
    display: flex;
    margin: 0 10% 0 10%;
    justify-content: space-between;
}

.footer__container  p{
    cursor: pointer;
}