/* TODO Add site wide styles */

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,400;0,500;1,100&display=swap");

* {
  font-family: Raleway;
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
  outline: none;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  /* background-color: #484848; */
}
