.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(100px);
  transition: all 200ms ease-in-out;
  z-index: 15;
}

.ReactModal__Overlay--after-open {
  /* background-color: hsla(0, 0%, 94.9%, 0.9); */
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(100px);
  /* transform: translateY(100px); */
  /* transition: all 500ms ease-in-out; */
}

.OuterModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: fixed;
  border: none;
}

.InnerModal {
  text-decoration: none;
  height: 100%;
  background: white;
  height: fit-content;
  /* position: fixed; */
}

.InnerModal:focus {
  outline: 0;
}
