.spotslistpage-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.spotslistpage-spotslist-container {
  display: flex;
  flex-direction: column;
  width: 45%;
  margin-left: 1%;
  margin-right: 1%;
}
.spotslist-header {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid #dddddd;
}
.spotslistpage-filter-btn {
  padding: 0.5rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  margin: 0.5rem;
  background-color: inherit;
  border-radius: 30px;
  color: black;
  border: 1px solid #b0b0b0;
  font-weight: 500;
  box-shadow: none;
  text-shadow: none;
}

.spotslistpage-filter-btn:hover {
  border: 1px solid black;
}
.spotslistele {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.spotslistpage-map-container {
  width: 50%;
  margin: 0;
  right: 10px;
  padding-bottom: 1.5rem;
}

#search_slider_btns {
  display: flex;
  justify-content: center;
  position: relative;
  /* bottom: 10px; */
  z-index: 10px;
}

#not1,
#not2 {
  border-radius: 50%;
  background: none;
}
