.spotslistpage-filter-btn {
  padding: 0.5rem;
  padding-left: 0.85rem;
  padding-right: 0.85rem;
  margin: 0.5rem;
  background-color: inherit;
  border-radius: 30px;
  color: black;
  border: 1px solid #b0b0b0;
  font-weight: 500;
  box-shadow: none;
  text-shadow: none;
}

.spotslistpage-filter-btn:hover {
  border: 1px solid black;
}
.spotslistpage-container {
  display: flex;
  flex-direction: row;
}

.spotslistpage-spotslist-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0;
}
.spotslistpage-map-container {
  width: 50%;
  margin: 0;
}
