.login-container {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* align-items: space-between; */
  font-size: 20px;
  /* background-color: rgb(227, 233, 227); */
  margin: 0 auto;
  max-width: 568px;
  width: 1000px;
  height: 420px;
  border-radius: 20px;
  box-sizing: border-box;
}

.login-inputs {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 20px;
  margin: 1%;
  font-size: 18px;
  width: 520px;
  height: 56px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 10px;
}

#login-pw-input {
  position: relative;
  border-top: none;
  bottom: 25px;
}

.close__modal {
  position: relative;
  font-size: 16px;
  bottom: 20px;
  right: 250px;
  border: none;
  border-radius: 50%;
  color: gray;
}

.close__modal:hover {
  background-color: rgb(244, 244, 244);
}

#login-title {
  display: flex;
  position: relative;
  bottom: 40px;
  /* border: 1px solid black; */
}

.loginFormBtns {
  font-size: 16px;
  line-height: 18px;
  padding: 10px 15px;
  height: 48px;
  width: 520px;
  border-radius: 10px;
  color: #fff;
  background-color: #63d471;
  position: relative;
  /* bottom: 40px; */
}

#demoBtn {
  background-color: white;
  color: black;
  border: 2px solid gray;
  font-size: 14px;
}

#demoBtn:hover {
  border: 2px solid black;
}

.login-or {
  margin: 1em auto;
  position: relative;
  bottom: 0px;
  text-align: center;
  font-size: 14px;
  color: gray;
  /* font-weight: 800; */
}

.before-or {
  display: inline-block;
  position: relative;
  right: 30px;
  width: 202px;
  top: 100px;
  border-top: 1px solid lightgray;
  content: " ";
  position: absolute;
  top: 0.7em;
}
.after-or {
  display: inline-block;
  position: relative;
  left: 30px;
  width: 202px;
  top: 100px;
  border-top: 1px solid lightgray;
  content: " ";
  position: absolute;
  top: 0.7em;
}

.login__switch {
  color: gray;
  font-size: 16px;
  position: relative;
  margin-top: 20px;
  right: 153px;
}

.login_switch_btn {
  border: none;
  font-size: 14px;
  font-weight: bold;
  text-decoration: underline;
}

.login__errors {
  font-size: 14px;
  color: red;
  position: relative;
  bottom: 20px;
  left: 170px;
}
