#spc {
  display: flex;
  justify-content: center;
}

.spot-page-container {
  display: flex;
  flex-direction: column;
  width: 1128px;
  height: 1500px;
  /* border: 2px solid black; */
  position: relative;
  top: 30px;
}

.spot-page-title {
  font-size: 30px;
  /* width: 100%; */
}
#star__spot_page {
  padding-right: 2px;
  position: relative;
  top: 0.5px;
}
#rating {
  cursor: pointer;
}
#reviews_count {
  position: relative;
  color: gray;
  display: inline-block;
  top: 2px;
  padding-left: 3px;
}

.spot-secondHeading {
  display: flex;
  position: relative;
  font-size: 12px;
}

.spot-shbtns-container {
  display: flex;
  position: absolute;
  left: 980px;
}

.spot-shbtns {
  border: none;
  text-decoration: underline;
  font-size: 15px;
  border-radius: 5px;
  height: 40px;
  background-color: transparent;
}

.spot-shbtns:hover {
  background-color: rgb(244, 244, 244);
}

.fa-heart {
  padding-right: 7px;
}

.fa-share-square {
  padding-right: 7px;
}

.rating__address {
  /* position: absolute; */
  font-size: 16px;
  display: flex;
  position: relative;
  /* top: 10px; */
}

.spot__address {
  position: relative;
  top: 18px;
  left: 20px;
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.fa-star {
  color: #63d471;
}

.spot__pictures__container {
  position: relative;
  top: 20px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* border: 2px solid black; */
  /* border-radius: 10px; */
  height: 510px;
}

.spot__first__picture {
  height: 493px;
  width: 550px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: fill;
  cursor: pointer;
}

#fourth__pic {
  border-top-right-radius: 10px;
}

#fifth__pic {
  border-bottom-right-radius: 10px;
}

.spot__pictures {
  cursor: pointer;
  width: 275px;
  height: 242px;
  padding-left: 10px;
  padding-bottom: 4px;
  object-fit: cover;
}

.spot__pictures:hover,
.spot__first__picture:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.02);
  opacity: 0.95;
}

.four_pics_container {
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.host__detail__container {
  position: relative;
  display: flex;
  top: 50px;
}

#host {
  text-decoration: none;
  /* color: white; */
  color: black;
}

#host:hover {
  /* background-color: rgb(244, 244, 244); */
  color: #63d471;
}

.host__title {
  font-size: 20px;
}
