#spc {
  display: flex;
  justify-content: center;
}

.spot-page-container {
  display: flex;
  flex-direction: column;
  width: 1128px;
  /* height: 1500px; */
  /* border: 2px solid black; */
  position: relative;
  top: 30px;
  margin-bottom: 3rem;
}

.spot-page-title {
  font-size: 30px;
  /* width: 100%; */
}
#star__spot_page {
  padding-right: 2px;
  position: relative;
  top: 0.5px;
}
#rating {
  cursor: pointer;
}
#reviews_count {
  position: relative;
  color: gray;
  display: inline-block;
  top: 2px;
  padding-left: 3px;
}

.spot-secondHeading {
  display: flex;
  position: relative;
  font-size: 12px;
}

.spot-shbtns-container {
  display: flex;
  position: absolute;
  top: 8px;
  left: 980px;
}

.spot-shbtns {
  border: none;
  text-decoration: underline;
  font-size: 15px;
  border-radius: 5px;
  height: 40px;
  background-color: transparent;
}

.spot-shbtns:hover {
  background-color: rgb(244, 244, 244);
}

.fa-heart {
  padding-right: 7px;
}

.fa-share-square {
  padding-right: 7px;
}

.rating__address {
  /* position: absolute; */
  font-size: 16px;
  display: flex;
  position: relative;
  /* top: 10px; */
}

.spot__address {
  position: relative;
  top: 18px;
  left: 20px;
  color: gray;
  text-decoration: underline;
  cursor: pointer;
}

.fa-star {
  color: #63d471;
}

.spot__pictures__container {
  position: relative;
  top: 20px;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* border: 2px solid black; */
  /* border-radius: 10px; */
  height: 510px;
}

.spot__first__picture {
  height: 493px;
  width: 550px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  object-fit: fill;
  cursor: pointer;
}

#fourth__pic {
  border-top-right-radius: 10px;
}

#fifth__pic {
  border-bottom-right-radius: 10px;
}

.spot__pictures {
  cursor: pointer;
  width: 275px;
  height: 242px;
  padding-left: 10px;
  padding-bottom: 4px;
  object-fit: cover;
}

.spot__pictures:hover,
.spot__first__picture:hover {
  transition: transform 0.3s ease-in-out;
  transform: scale(1.02);
  opacity: 0.95;
}

.four_pics_container {
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.host__detail__container {
  position: relative;
  display: flex;
  /* top: 50px; */
  border-bottom: 1px solid #dddddd;
  width: 600px;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
}

#host {
  text-decoration: none;
  /* color: white; */
  color: black;
}

#host:hover {
  /* background-color: rgb(244, 244, 244); */
  color: #63d471;
}

.host__title {
  font-size: 20px;
}

.bookingform__container {
  position: absolute;
  top: 0px;
  border: 2px solid black;
  width: 375px;
  border-radius: 50px;
  box-shadow: 1px 1px 10px 1px;
}

.bookingform__title {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: space-between;
}

.bookingform__title > h4 {
  font-size: 20px;
  margin-top: 20px;
}

.bookingform__title > h2 {
  margin-top: 20px;
}

.rdrDateDisplay {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.bookingform__date input {
  font-size: 14px;
  font-weight: bold;
  border: 1px solid #484848;
  border-radius: 10px;
  padding-left: 10px;
}

.rdrMonthAndYearWrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 10px;
}

.rdrMonthAndYearWrapper select {
  font-size: 14px;
  font-weight: bold;
  border-radius: 10px;
}

.rdrMonthAndYearWrapper button {
  border-radius: 50px;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #63d471;
}

.rdrWeekDays {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  /* margin-right: 10px; */
  justify-content: center;
}

.rdrWeekDays > span {
  color: #63d471;
}
.rdrWeekDay {
  margin-left: 15px;
}
.rdrDays {
  display: grid;
  background-color: #484848;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.rdrDays > button {
  border: none;
  background-color: #484848;
  border-radius: 10px;
  height: 30px;
  font-weight: bold;
}

.rdrDays > button:hover {
  background-color: #63d471;
  transition: 0.5s;
}

.rdrDayNumber > span {
  color: white;
}

.rdrMonth {
  background-color: #484848;
  padding-top: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.rdrDayDisabled span {
  color: gray;
}

.rdrDayDisabled {
  cursor: not-allowed;
}

.bookingform__submit {
  border: none;
  border-radius: 50px;
  height: 50px;
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  background-color: #b1eab8;
}

.submit__container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bookingform__submit:hover {
  background-color: #63d471;
  transition: 0.5s;
}

.spot__reviews {
  border: 1px solid black;
  position: relative;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
}

#reviews__container {
  /* border: 1px solid black; */
  border-bottom: 1px solid #dddddd;
  position: relative;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.booking__and__amenties {
  border-bottom: 1px solid #dddddd;
  position: relative;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  width: 600px;
  height: 400px;
}

.spotmap__container {
  /* padding-bottom: 1.5rem; */
  margin-top: 1.5rem;
  /* margin-bottom: 1.5rem; */
  height: 550px;
  border-bottom: 1px solid #dddddd;
  overflow: fit-content;
}

#rating__title {
  font-size: 26px;
  display: flex;
  width: 100%;
  position: relative;
}

#star__spot_page__title {
  padding-right: 0.2rem;
}

#reviews_count__title {
  position: relative;
  bottom: 55px;
  color: gray;
  padding-left: 2.4rem;
}

.rat_revs_container {
  position: relative;
  bottom: 2px;
  height: 28px;
}
